<?xml version="1.0"?>

<launch>

  <arg name="laser_enabled" default="false"/>
  <arg name="realsense_enabled" default="true"/>
  <arg name="ur5_enabled" default="false"/>


  <include file="$(find husky_gazebo)/launch/playpen.launch" />

  <include file="$(find husky_gazebo)/launch/spawn_husky.launch">
    <arg name="laser_enabled" value="$(arg laser_enabled)"/>
    <arg name="realsense_enabled" value="$(arg realsense_enabled)"/>
    <arg name="ur5_enabled" value="$(arg ur5_enabled)"/>
  </include>

</launch>
